body {
  text-align: center;
  background: rgb(37, 40, 45);
}

h1 {
  font-size: 5em;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto,
.row {
  padding: 0px;
  margin: 0px;
}

.column-1 {
  background-color: rgb(37, 40, 45);
}
.column-2 {
  background-color: rgb(88, 168, 201);
}
.column-3 {
  background-color: blue;
}

.row-1 {
  height: 120px;
}
@media (min-width: 768px) {
  .row-1 {
    height: 300px;
  }
}

.row-2 {
  height: 50px;
}
@media (min-width: 768px) {
  .row-2 {
    height: 300px;
  }
}

.row-3 {
  height: 30px;
}
@media (min-width: 768px) {
  .row-3 {
    height: 300px;
  }
}

.row-4 {
  height: 100px;
}
@media (min-width: 768px) {
  .row-4 {
    height: 300px;
  }
}

.row-5 {
  height: 70px;
}
@media (min-width: 768px) {
  .row-5 {
    height: 150px;
  }
}
.row-6 {
  height: 50px;
}
@media (min-width: 768px) {
  .row-6 {
    height: 150px;
  }
}
.row-7 {
  height: 100px;
}
.row-8 {
  height: 100px;
}
.row-9 {
  height: 100px;
}
.color-block-1 {
  background: rgb(230, 140, 0);
}
.color-block-2 {
  background-color: rgb(88, 168, 201);
}
.color-block-3 {
  background-color: rgb(130, 182, 71);
}
.color-block-4 {
  background-color: rgb(195, 103, 106);
}

.logo,
.help,
.login,
.testimonials,
.about {
  height: 100%;
  width: 100%;
  border-radius: 0px;
}

#logo-image {
  padding-left: 60px;
  width: 400px;
  height: 300px;
}

/* Login */
#login-title {
  color: rgb(230, 140, 0);
}

#text-muted,
#account-promo {
  color: rgb(88, 168, 201);
}

.btn-custom {
  background-color: rgb(130, 182, 71);
}

/* Home */
.btn-home-custom {
  background-color: rgb(37, 40, 45);
}

/* Sign-Up Page */
#signUp-title {
  color: rgb(230, 140, 0);
}

/* About Page */
#about-title,
#about-FAQ {
  color: rgb(230, 140, 0);
}
#about-paragraph {
  color: white;
}

/* Help page */
#help-title {
  color: rgb(230, 140, 0);
}

#email,
#theirEmail,
#templateReasons,
#customReasons {
  color: rgb(88, 168, 201);
}

/* Testimonials */
#testimonials-title {
  color: rgb(230, 140, 0);
}
