/*
Colors
*/
$darkgray: #25282d;
$whiteish: #fff8ef;

/*
Globals
*/
body {
  background-color: $darkgray;
  font-family: "Prata", serif;
  color: white;
}

h1 {
  font-size: 5em;
}

html,
body,
#root {
  height: 100%;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto,
.row {
  padding: 0px;
  margin: 0px;
}

.column-1 {
  background-color: rgb(37, 40, 45);
  height: auto;
}
.column-2 {
  background-color: rgb(88, 168, 201);
}
.column-3 {
  background-color: blue;
}

.row-1 {
  height: 120px;
}
@media (min-width: 768px) {
  .row-1 {
    height: 33%;
  }
}

.row-2 {
  height: 0px;
  background-color: $whiteish;
}
@media (min-width: 768px) {
  .row-2 {
    height: 67%;
  }
}

.row-3 {
  height: 0px;
}
@media (min-width: 768px) {
  .row-3 {
    height: 33%;
  }
}

.row-4 {
  height: 150px;
}
@media (min-width: 768px) {
  .row-4 {
    height: 67%;
  }
}

.row-5 {
  height: 0px;
}
@media (min-width: 768px) {
  .row-5 {
    height: 33%;
  }
}

.row-6 {
  height: 50px;
}
@media (min-width: 768px) {
  .row-6 {
    height: 150px;
  }
}
.row-7 {
  height: 100px;
}
.row-8 {
  height: 100px;
}
.row-9 {
  height: 100px;
}
.color-block-1 {
  background: $whiteish;
}
.color-block-2 {
  background-color: $whiteish;
}
.color-block-3 {
  background-color: $whiteish;
}
.color-block-4 {
  background-color: $whiteish;
}

.help,
.login,
.testimonials,
.about {
  // height: 100%;
  // width: 100%;
  // border-radius: 0px;
}

#logo-image {
  max-width: 100%;
  height: 100%;
}

span#blue {
  color: white;
  background-color: rgb(88, 168, 201);
  border-radius: 50%;
  padding: 10px;
}
span#orange {
  color: white;
  background-color: rgb(230, 140, 0);
  border-radius: 50%;
  padding: 10px;
}
span#green {
  color: white;
  background-color: rgb(130, 182, 71);
  border-radius: 50%;
  padding: 10px;
}
span#pink {
  color: white;
  background-color: rgb(195, 103, 106);
  border-radius: 50%;
  padding: 10px;
}

/* Login */
#login-title {
  font-family: "Bowlby One SC", cursive;
  color: rgb(230, 140, 0);
}

#text-muted,
#account-promo {
  color: rgb(88, 168, 201);
}

.btn-custom {
  background-color: rgb(195, 103, 106);
  border: rgb(195, 103, 106);
}
a.loginSubmit:hover,
a.signUpPls:hover,
a.helpSubmit:hover,
a.submitSignUp:hover {
  // background: rgb(88, 168, 201);
}

/* Home */
#title {
  height: 100%;
}
.btn-home-custom {
  text-align: left;
  font-family: "Bowlby One SC", cursive;
  background-color: rgb(37, 40, 45);
  border: rgb(37, 40, 45);
}

.help {
  color: #25282f;
  padding-top: 50px;
  color: white;
  text-align: center;
  font-size: 3em;
}

.login {
  padding-top: 70px;
  color: white;
  text-align: center;
  font-size: 3em;
}

.testimonials {
  padding-top: 70px;
  color: white;
  text-align: center;
  font-size: 3em;
}

.about {
  padding-top: 70px;
  color: white;
  text-align: center;
  font-size: 3em;
}

a.help:hover {
  color: rgb(88, 168, 201);
  background: linear-gradient(0deg, rgb(37, 40, 45) 0%, rgb(37, 40, 45) 100%);
}
a.login:hover {
  color: rgb(230, 140, 0);
  background: linear-gradient(0deg, rgb(37, 40, 45) 0%, rgb(37, 40, 45) 100%);
}
a.testimonials:hover {
  color: rgb(130, 182, 71);
  background: linear-gradient(0deg, rgb(37, 40, 45) 0%, rgb(37, 40, 45) 100%);
}
a.about:hover {
  color: rgb(195, 103, 106);
  background: linear-gradient(0deg, rgb(37, 40, 45) 0%, rgb(37, 40, 45) 100%);
}

/* Sign-Up Page */
#signUp-title {
  font-family: "Bowlby One SC", cursive;
  color: rgb(230, 140, 0);
  text-align: center;
}

/* About Page */
#about-FAQ {
  font-family: "Bowlby One SC", cursive;
  color: rgb(88, 168, 201);
  text-align: center;
}

#FAQ-1-Q,
#FAQ-2-Q {
  color: white;
  text-align: left;
}
#FAQ-1-A,
#FAQ-2-A {
  color: rgb(230, 140, 0);
  text-align: right;
}

/* Help page */
#help-title {
  font-family: "Bowlby One SC", cursive;
  color: rgb(88, 168, 201);
  text-align: center;
}

#bluntButton,
#apologeticButton {
  font-family: "Exo", sans-serif;
  background: rgb(130, 182, 71);
  border: rgb(130, 182, 71);
}

#bluntButton {
  border-right: 5px solid rgb(37, 40, 45);
}

#email,
#theirEmail,
#templateReasons {
  font-family: "Exo", sans-serif;

  color: rgb(230, 140, 0);
  text-align: center;
}

#issue-col {
  font-family: "Exo", sans-serif;

  text-align: center;
  color: rgb(130, 182, 71);
}

#issue-button {
  font-family: "Exo", sans-serif;

  background: rgb(37, 40, 45);
  border: 2px solid rgb(130, 182, 71);
}
#issue-button.selected {
  background-color: rgb(130, 182, 71);
}
#issue-button:hover {
  background: rgb(130, 182, 71);
}

#helpSubmit {
  font-family: "Exo", sans-serif;

  text-align: center;
}

#step1 {
  font-family: "Exo", sans-serif;
  text-align: center;
  color: rgb(230, 140, 0);
}
#step2 {
  font-family: "Exo", sans-serif;
  text-align: center;
  color: rgb(230, 140, 0);
}
#step3 {
  font-family: "Exo", sans-serif;
  text-align: center;
  color: rgb(230, 140, 0);
}

/* Testimonials */
#testimonials-title {
  font-family: "Bowlby One SC", cursive;
  text-align: center;
  color: rgb(88, 168, 201);
  text-align: center;
}

#exampleName {
  color: white;
  text-align: left;
}

#exampleText {
  color: rgb(230, 140, 0);
  text-align: right;
}

#testimonial-submit {
  color: rgb(130, 182, 71);
}
